.primary_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.outline_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
}