.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: space-evenly;
  padding: 0 8px;
}
